
<div class="container-fluid ">
<div style="top:20px;" class="app-content content">
    <div class="row">
        <div class="col-12 col-md-9">
            <section id="basic-examples" >
                <div class="row match-height" >
                    <div *ngFor="let emp of ProductTypes ">
                        <div class="row"> 
                            <div class="col-12 col-md-3 ">
                                <button class="btn bg-gradient-success mr-1 mb-1"  (click)="chageProductTypeByclick(emp.type)">
                                    <span>{{ emp.type }}</span>
                                </button>                             
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        
        <div class="col-12 col-md-3">
            <span class="alert alert-primary"> Product Type</span>
            <section id="search-bar">
                    <div class="search-bar">
                        <div class="card">
                             <div class="card-body">
                                <input type="text" [(ngModel)]="productType" (keyup.enter)="chageProductType($event)"   class="form-control round" id="searchbar" >
                            </div>    
                        </div>
                    </div>
            </section>
        </div>
        
    </div>     
     
    <section id="search-bar">
        <div class="search-bar">            
            <fieldset class="form-group position-relative has-icon-left">
            <input type="text" [(ngModel)]="search" (input)="searchByname()" class="form-control round"  >
            <div class="form-control-position">
                <i class="feather icon-search px-1"></i>
            </div>
            </fieldset>
                        
        </div>
    </section>      
    <div class="row">
        <div class="col-12 col-md-5" >                 
            <div class="content-body">
                <!-- Basic example and Profile cards section start -->
                <section id="basic-examples" ng-if="products.length == 0" >
                        <div class="row match-height" >
                            
                            
                            <div *ngFor="let emp of colors ">
                                <div class="row"> 
                                    <div class="col-xl-2 col-md-8 col-sm-12">
                                        <button class="btn  mr-1 mb-1" style="color:black;background-color: {{ emp }};" (click)="changecolor(emp)"  >
                                            <span>{{ emp }}</span>
                                        </button>                             
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
                <section id="basic-examples" ng-if="products.length > 0">
                    <div class="row match-height" >
                        
                        
                        <div class="col-xl-6 col-md-8 col-sm-12" *ngFor="let emp of products ">
                            <div style="background-color: {{ color }};"  class="card">
                                <div class="card-content">
                                    <img class="card-img-top img-fluid" src="{{ path }}{{ emp.img }}" style="width:295px;height:190px;" >
                                    <div  class="card-body">
                                        <h5>{{ emp.name }}</h5>
                                        
                                        <div class="card-btns d-flex justify-content-between mt-2">
                                            <div class="row">
                                                <div class="col-12 col-md-8">
                                                    <span class="card-text">PU: {{ emp.pu }}</span>
                                                </div>   
                                                <div class="col-12 col-md-8">
                                                    <span class="card-text">QT: {{ emp.qt }}</span>
                                                </div>   
                                                
                                                <div class="col-12 col-md-6">   
                                                    <button class="btn bg-gradient-success mr-1 mb-1" (click)="addProduct(emp.codep)" >
                                                        <span>Add</span>
                                                    </button>                                               
                                                </div>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                             
                    </div>
                </section>
            </div>
        </div>
        

            <div class="col-6 col-md-7">
                <section id="place-order" class="list-view product-checkout">
                    <div class="checkout-options">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <section id="search-bar">
                                            <div class="search-bar">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="number" (keyup.enter)="addProductInput($event)"  class="form-control round" autofocus />    
                                                    <div class="form-control-position">
                                                            <i class="feather icon-search px-1"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </section>   
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                
                                                    <th>Img</th>
                                                    <th>name</th>
                                                    <th>color</th>
                                                    <th>type</th>
                                                    <th>user</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let emp of ProductQR " style="font-size: 20px;">
                                                    <td class="product-img"><img src="{{ path }}{{ emp.img }}" style="width:60px;height:60px;" alt="Img placeholder"></td>
                                                    <td class="product-price">{{ emp.name }}</td>
                                                    <td class="product-price">{{ emp.color }}</td>
                                                    <td class="product-price">{{ emp.type }}</td>
                                                    <td class="product-price">{{ emp.user }}</td>
                                                    <td class="product-action">
                                                        <a (click)="deleteProductQR(emp.id)" class="action-delete"><i class="feather icon-trash"></i></a>
                                                    </td>
                                                </tr>
                               
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        
                                        <div class="col-12 col-md-3">
                                            <button class="btn bg-gradient-info mr-1 mb-1" routerLink="../QRproduct/{{ productType }}" >
                                                <span><i class="feather icon-file-text"></i> Print</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>



       
            </div>
            
        </div>
    

