
<div class="container-fluid ">
<div style="top:20px;" class="app-content content">

    <div class="row">
        <div class="col-12 col-md-8">
            <div class="top">
                <div class="actions action-btns">
                    <div class="dt-buttons btn-group">
                        <div class="row">
                           
                            <div class="col-12 col-md-8">
                                <button class="btn bg-gradient-info mr-1 mb-1" (click)="reloadPage()" >
                                    <span> refresh</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>  
    </div>     
                 
        </div>
     
         </div>
   

