
<div class="container-fluid ">
<div style="top:20px;" class="app-content content">

        <div class="row">
            <div class="col-12 col-md-8">
                <div class="top">
                    <div class="actions action-btns">
                        <div class="dt-buttons btn-group">
                            <div class="row">
                                
                                <div class="col-12 col-md-8">
                                    <button class="btn bg-gradient-info mr-1 mb-1" routerLink="../invoice/{{ numcommande }}" >
                                        <span><i class="feather icon-file-text"></i> Print</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div>
            </div>
            <div class="col-12 col-md-4">
                
            </div>
        </div>     
        
        <section id="search-bar">
            <div class="search-bar">            
                <fieldset class="form-group position-relative has-icon-left">
                <input type="text" [(ngModel)]="search" (input)="searchByname()" class="form-control round"  >
                <div class="form-control-position">
                    <i class="feather icon-search px-1"></i>
                </div>
                </fieldset>
                            
            </div>
        </section>      
        <div class="row">
            <div class="col-12 col-md-6">                 
                <div class="content-body">
                    <div   >
                        <section  id="place-order" class="list-view product-checkout">
                            <div class="checkout-options">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="table-responsive">                   
                                                <table class="table ">
                                                    <thead>
                                                        <tr>                                                
                                                            <th>Cmd</th>
                                                            <th>Point</th>
                                                            <th>Montant</th>
                                                            <th>benef</th>
                                                            <th>newPoint</th>
                                                            <th>newbenef</th>
                                                            <th>NewMont</th>
                                                            <th>return</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-if="products.length > 0">
                                                     <tr *ngFor="let emp of beneficiaries ">
                                                        
                                                            <td  class="product-name">{{ emp.numcommande }}</td>
                                                            <td class="product-category">{{ emp.point }}</td>
                                                            <td class="product-category">{{ emp.montant }} DH</td>
                                                            <td class="product-category">{{ emp.benefice }}</td>
                                                            <td class="product-category">{{ emp.newpoint }}</td>
                                                            <td class="product-category">{{ emp.newmontant }} DH</td>
                                                            <td class="product-category">{{ emp.newbenefice }}</td>
                                                            <td class="product-category" style="background-color:green;color:white;" >{{ emp.return }} DH</td>
                                                            
                                                            
                                                        </tr>
                                                       
                                                    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>         
                    </div>
                    <section id="basic-examples" ng-if="products.length > 0">
                        <div class="row match-height" >
                            <div class="col-xl-6 col-md-8 col-sm-12" *ngFor="let emp of products ">
                                <div class="card">
                                    <div class="card-content">
                                        <img class="card-img-top img-fluid" src="{{ path }}{{ emp.img }}" style="width:295px;height:190px;" >
                                        <div class="card-body">
                                            <h5>{{ emp.name }}</h5>
                                            
                                            <div class="card-btns d-flex justify-content-between mt-2">
                                                <span class="card-text">PU: {{ emp.pu }}</span>
                                                <input type="search" (keyup.enter)="changequantite($event,emp.codep)" style="width:170px;" class="form-control round" width="50px;" placeholder="quantite"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                             
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-6 col-md-6">
                <section id="place-order" class="list-view product-checkout">
                    <div class="checkout-options">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <section id="search-bar">
                                            <div class="search-bar">
                                                <fieldset class="form-group position-relative has-icon-left">
                                                    <input type="number" (keyup.enter)="addProductInput($event)"  class="form-control round" autofocus />    
                                                    <div class="form-control-position">
                                                            <i class="feather icon-search px-1"></i>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </section>   
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                
                                                    <th>Img</th>
                                                    <th>pu</th>
                                                    <th>qt</th>
                                                    <th>Tot</th>
                                                    <th>NUmCommand</th>
                                                    <th>NUmb</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let emp of retour " style="font-size: 20px;">
                                                    <td class="product-img"><img src="{{ path }}{{ emp.img }}" style="width:40px;height:40px;" alt="Img placeholder"></td>
                                                    <td class="product-price">{{ emp.pu }}</td>
                                                    <td class="product-price">{{ emp.qt }}</td>
                                                    <td class="product-price">{{ emp.totalligne }}</td>
                                                    <td class="product-price">
                                                        <input (keyup.enter)="addNumFacture($event,emp.id,emp.totalligne,emp.numretourbenef)" style="font-size: 18px;width:100px;opacity:1;border-radius: 10px;" class="form-control round input1" placeholder="{{ emp.numfacture }}" /></td>
                                                    <td class="product-action">
                                                        <a (click)="deleteProduct(emp.id)" class="action-delete"><i class="feather icon-trash"></i></a>
                                                    </td>
                                                </tr>
                               
                                            </tbody>
                                        </table>
                                    </div>
                                    <a (click)="gettotal()" style="font-size: 24px;" class="btn btn-light btn-block ">Total: {{ total }} DH</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>



       
            </div>
            
        </div>
        
         </div>
   

